<h1><%= table_header %></h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Class</th>
      <th scope="col">Date</th>
      <th scope="col">Instructor</th>
      <th scope="col">Partners</th>
      <th scope="col">Tags</th>
      <th scope="col">Summary</th>
    </tr>
  </thead>
  <tbody>
    <% @notes.each do |note| %>
    <tr>
      <th scope="row"><%= note.note_title_list %></th>
      <td><%= format_date(note) %></td>
      <td><%= note.instructor_list %></td>
      <td><%= note.partner_list %></td>
      <td><%= note.tag_list %></td>
      <td><%= note.pos_description %></td>
      <td><%= link_to "view", edit_note_path(note) %></td>
    </tr>
    <% end %>
  </tbody>
</table>