<div class="sign-up-page-body">

  <h1 class="classnoteslogo">ClassNotes</h1>
  <div class="user-box">

<h2>Resend confirmation instructions</h2>

<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= f.input :email, autofocus: true, autocomplete: "email", placeholder: "email", label: false%>

  <div class="button-box-sign">
    <%= f.submit "Submit" %>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>