<div class="sign-up-page-body">
<h1 class="classnoteslogo">ClassNotes<h1>
<div class="user-box">
  <h2>Sign up</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= f.input :username, autofocus: true, autocomplete: "username", placeholder: "username", label: false%>

  <%= f.input :email, autofocus: true, autocomplete: "email", placeholder: "email", label: false%>

  <%= f.input :password, autocomplete: "current-password", placeholder: "password", label: false%>

  <%= f.input :password_confirmation, autocomplete: "current-password", placeholder: "confirm your password", label: false%>

  <div class="button-box-sign">
    <%= f.submit "Sign up" %>
  <% end %>

  <%= render "devise/shared/links" %>
  </div>
</div>
</div>