<form>
<%= form_for @note do |f| %>
<div class="form-group">
<%= f.date_field :note_date, class: "form-control"%>
</div>
<div class="form-group">
<%= f.text_field :note_title_list, class: "form-control", placeholder: "class title" %>
</div>
<div class="form-group">
<%= f.text_field :instructor_list, class: "form-control", placeholder: "instructor_list" %>
</div>
<div class="form-group">
<%= f.text_field :tag_list, class: "form-control tagsinput", placeholder: "tag1, tag2" %>
</div>
<div class="form-group">
<%= f.text_field :partners, class: "form-control", placeholder: "partner1, partner2" %>
</div>
<div class="row">
  <div class="col">
    <%= f.text_area :pos_description, class: "form-control", placeholder: "summary of what went well" %>
  </div>
  <div class="col">
    <%= f.text_area :neg_description, class: "form-control", placeholder: "summary of what can be improved" %>
  </div>
</div>
 <%= f.submit "Save changes" %>
<% end %>
</form>