<div class="sign-up-page-body">

  <h1 class="classnoteslogo">ClassNotes</h1>
  <%= render 'shared/messages' %>
      <div class="user-box">
        <h2>Log in</h2>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.input :email, autofocus: true, autocomplete: "email", placeholder: "email", label: false%>
        <%= f.input :password, autocomplete: "current-password", placeholder: "password", label: false%>

        <% if devise_mapping.rememberable? %>
        <%= f.input :remember_me, as: :boolean, checked_value: true, unchecked_value: false%>
        <% end %>
      </div>
<div class="button-box-sign">
      <%= f.submit "Sign in"%>
      <% end %>

      <%= render "devise/shared/links" %>
      </div>
</div>
</div>