<!DOCTYPE html>
<html>

<head>
  <title>ClassnotesV2</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
  <%# SIDEBAR %>
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <% if user_signed_in? %>
        <%= render 'shared/sidenav' %>
      <% end %>
      <div class="col py-3">
        <%= yield %>
      </div>
    </div>
  </div>
</body>

</html>