<!DOCTYPE html>
<html>

<head>
  <title>ClassnotesV2</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
  <%# SIDEBAR %>
<% if user_signed_in? %>
 <%= render 'shared/nav2' %>
  <div id="main">
  <div class="topnav">
      <button class="openbtn" onclick="openNav()">&#9776;</button>
    <h1 id="tableheader"><%= table_header %></h1>
    <h1 class="classnotestitle">ClassNotes<h1>
  </div>
  <% end %>
  <%= yield %>
  </div>
<script>

function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}
</script>
  
</body>

</html>





